@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

header {
  background-color: #38af90;
  color: white;
  box-shadow: 0px 3px 15px black;
}
.header_container {
  margin: 0 auto;
  max-width: 1200px;
  max-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_content {
  display: flex;
  align-items: center;
}

.header_content,
a {
  margin: 20px;
}
.header_content a:hover {
  color: yellow;
}

.latest_news {
  color: #797979;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.news {
  background-color: #f0f0f0;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 5px 15px black;
}

.news h3 {
  color: #38af90;
}
.news h4 {
  color: #797979;
  border-bottom: solid 2px #38af90;
}
.news h6 {
  color: #38af90;
  margin: 5px 0 5px 0;
}
.news p {
  color: #797979;
  padding: 10px 0 10px 0;
}
.news a {
  margin: 0 auto;
  color: #dd7e92;
}

.btn {
  padding: 10px;
  width: 244px;
  height: 67px;
  color: white;
  font-size: 18px;
  background: #dd7e92;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.components {
  color: #797979;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 25px;
}

.secGames {
  background-color: #f0f0f0;
}
.components h2 {
  color: #38af90;
}
.card {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.card h4 {
  margin-top: 20px;
}
.cor {
  color: #38af90;
}
.card p {
  font-size: 11px;
}
.card h2 {
  color: #38af90;
  margin: 10px;
}

.subscription {
  box-shadow: 0px 3px 15px black;
  background: #f0f0f0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 790px;
  padding: 30px;
}
.inpInfos {
  width: 642px;
  height: 50px;
  margin: 10px 0;
}
.btns {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}
.btn2 {
  border: 1px solid #dd7e92;
  padding: 10px;
  width: 244px;
  height: 67px;
  color: #dd7e92;
  font-size: 18px;
  background: white;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  background-color: #383838;
  margin: 0 auto;
  height: 190px;
}

.footer_container {
    margin: 0 auto;
    max-width: 1200px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


.footer_container p {
  color: white;
  display: flex;
  justify-content: center;
}
.footer_container a {
    color: white;
    display: flex;
    justify-content: center;
  }
footer a:hover { color: yellow;}


